@import '../../theme/theme.scss';

.nav_container {
  display: grid;
  grid-template-columns: 70% 30%;

  img {
    width: 100%;
  }

  .nav_ul {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 25%;
    right: 100%;
    width: 100%;
    font-family: "Titillium Web";
    // font-size: 18px;

    .login_btn {
      background-color: $interaction;
      border: none;
      border-radius: 4px;
      padding: 7px 30px;
      margin-left: 20px;

      a {
        text-decoration: none;
        color: $bg-black;
      }
    }

    li {
      display: inline;
      padding: 15px;
      // margin: 10px;

      a {
        text-decoration: none;
        color: $color-white;
      }
    }
    .form_container {
     display: grid;
  
      .form_input {
      }
    }
  }
}