$bg-black: #131313;
$color-white:#ffffff;
$color-pink:#D10061;
$color-dark-green:#0a1d1c;
$color-red:#FF003D;
$color-dark-grey: #2C3737;
$color-grey:#AFAFAF;
$interaction: #00F9B6;
$color-black-grey: #393939;